<div class="social">
  <p>
    Email: yuedeji@gwu.edu &nbsp;&nbsp;
    <!--    <a href="../static/info/yuede_cv.pdf">CV</a>
    -->
    {% if site.email %}
         <a href="mailto:{{ site.email}}"><i class="fa fa-envelope"></i></a>
    {% endif %}
    {% if site.linkedin %}
        / <a href="http://linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a>
    {% endif %}
    {% if site.github %}
	     / <a href="http://github.com/{{ site.github }}"><i class="fa fa-github"></i></a>
    {% endif %}
  </p>
</div>
